/* ELEMENTS */
body {
  background-color: white; }

header {
  position: fixed;
  width: 100%;
  height: 5rem;
  top: 0;
  color: white;
  background-color: rgba(211, 211, 211, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  box-shadow: 0 2px 10px gray; }
  header > h2 {
    font-size: 3rem;
    margin: 0 1rem; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

nav > div {
  position: relative;
  height: 5rem;
  width: 5rem; }
  nav > div:hover .dropdown {
    display: block; }
  nav > div:nth-child(n + 2) > h4 {
    border-left: 1px solid white; }
  nav > div > h4 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 0.25rem 1rem; }

h3 {
  margin: 0.5rem 0; }

footer {
  height: 5rem;
  color: darkgray;
  background-color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem; }

/* CLASSES */
.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  border: 1px solid darkgray;
  width: 15rem;
  background-color: rgba(211, 211, 211, 0.85);
  box-shadow: -2px 2px 10px gray;
  padding: 1rem; }
  .dropdown > li {
    padding: 0.5rem; }
  .dropdown a {
    text-decoration: none;
    color: inherit; }
  .dropdown label {
    opacity: 1; }

/* IDS */
#login {
  margin-right: 2rem;
  width: 3rem;
  position: relative; }
  #login > div {
    position: absolute;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
    background-color: #C3CFD5;
    border: 1px solid gray;
    box-shadow: -2px 2px 10px gray;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #login > div i {
      font-size: 2rem;
      width: 100%;
      text-align: center; }
  #login .fa-times {
    display: none; }
  #login.isOpen .fa-times {
    display: block; }
  #login.isOpen .fa-plus {
    display: none; }
  #login.isOpen form {
    visibility: visible; }
  #login form {
    visibility: hidden;
    position: absolute;
    top: 50%;
    right: 50%;
    border: 1px solid gray;
    background: #C3CFD5;
    width: 200px;
    padding: 1rem; }
  #login .login-input {
    position: relative;
    border-bottom: 1px solid white; }
    #login .login-input.show label {
      opacity: 1;
      top: 0.25rem; }
    #login .login-input:nth-child(1) {
      margin-bottom: 0.5rem; }
  #login label {
    display: block;
    width: 100%;
    height: 100%;
    font-size: .8125em;
    position: absolute;
    top: 0.5rem;
    color: white;
    opacity: 0;
    -webkit-transition: opacity 100ms ease, top 50ms ease;
    transition: opacity 100ms ease, top 50ms ease; }
  #login input {
    display: block;
    outline: none;
    color: white;
    background: #C3CFD5;
    font-size: 1rem;
    border: 0;
    width: 100%;
    height: 100%;
    padding: 1.25rem 0rem 0.25rem; }
    #login input::-webkit-input-placeholder {
      color: white; }
    #login input:-moz-placeholder {
      color: white; }
    #login input::-moz-placeholder {
      color: white; }
    #login input:-ms-input-placeholder {
      color: white; }

#image-wrapper {
  position: relative; }
  #image-wrapper > h1 {
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    font-size: 8rem; }
  #image-wrapper > div.button {
    position: absolute;
    bottom: 8%;
    right: 10%;
    padding: 1rem;
    color: white;
    border: 1px solid white; }

#details-wrapper {
  padding: 1rem; }

#gallery-wrapper > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem; }
  #gallery-wrapper > ul li:nth-child(even) {
    width: 2rem; }
  #gallery-wrapper > ul li:nth-child(odd) {
    height: 150px;
    min-width: 100px;
    background-color: darkgray;
    border: 1px solid black;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
