@import './colors';

/* ELEMENTS */

body {

    background-color: white;
}

header {

    position: fixed;
    width: 100%;
    height: 5rem;
    top: 0;
    color: white;
    background-color: $trans-gray;
    display: flex;
    align-items: center;    
    box-shadow: 0 2px 10px $dark-gray;

    > h2 {

        font-size: 3rem;
        margin: 0 1rem;
    }
}

nav {

    display: flex;
    flex: 1;
}

nav > div {

    position: relative;
    height: 5rem;
    width: 5rem;

    &:hover .dropdown {

        display: block;
    }

    &:nth-child(n + 2) > h4 {

        border-left: 1px solid white;
    }

    > h4 {

        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0.25rem 1rem;
        
    }
}

h3 {

    margin: 0.5rem 0;
}

footer {

    height: 5rem;
    color: darkgray;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

/* CLASSES */

.dropdown {

    display: none;
    position: absolute;
    top: 100%;
    border: 1px solid darkgray;
    width: 15rem;
    background-color: $trans-gray;
    box-shadow: -2px 2px 10px $dark-gray;
    padding: 1rem;

    > li {

        padding: 0.5rem;
    }

    a {

        text-decoration: none;
        color: inherit;
    }

    label {

        opacity: 1;
    }
}

/* IDS */

#login {

    margin-right: 2rem;
    width: 3rem;
    position: relative;

    > div {

        position: absolute;
        transform: translateY(-50%);
        width: 3rem;
        height: 3rem;
        background-color: $solid-gray;
        border: 1px solid $dark-gray;
        box-shadow: -2px 2px 10px $dark-gray;
        border-radius: 100%;
        display: flex;
        align-items: center;

        i {
            font-size: 2rem;
            width: 100%;
            text-align: center;
        }
    }

    .fa-times {

        display: none;
    }

    &.isOpen {

        .fa-times {

            display: block;
        }
        
        .fa-plus {

            display: none;
        }

        form {

            visibility: visible;
        }
    }

    form {

        visibility: hidden;
        position: absolute;
        top: 50%;
        right: 50%;
        border: 1px solid $dark-gray;
        background: $solid-gray;
        width: 200px;
        padding: 1rem;
    }

    .login-input {

        position: relative;
        border-bottom: 1px solid white;

        &.show label {

            opacity: 1;
            top: 0.25rem;
        }

        &:nth-child(1) {

            margin-bottom: 0.5rem;
        }
    }

    label {

        display: block;
        width: 100%;
        height: 100%;

        font-size: .8125em;
        position: absolute; 
        top: 0.5rem;
        color: white;
        opacity: 0;
        transition: opacity 100ms ease, top 50ms ease;
    }

    input {

        display: block;
        outline: none;
        color: white;
        background: $solid-gray;
        font-size: 1rem;
        border: 0;
        width: 100%;
        height: 100%; 
        padding: 1.25rem 0rem 0.25rem;

        &::-webkit-input-placeholder {
            color: white;
        }

        &:-moz-placeholder {
            color: white;  
        }

        &::-moz-placeholder {
            color: white;  
        }

        &:-ms-input-placeholder {  
            color: white;  
        }
    }
}

#image-wrapper {

    position: relative;

    > h1 {

        position: absolute;
        top: 30%;
        left: 10%;
        color: white;
        font-size: 8rem;
    }

    > div.button {
    
        position: absolute;
        bottom: 8%;
        right: 10%;
        padding: 1rem;
        color: white;
        border: 1px solid white;            
    }
}

#details-wrapper {

    padding: 1rem;
}

#gallery-wrapper > ul {

    display: flex;
    padding: 1rem;

    li:nth-child(even) {
    
        width: 2rem;                
    }

    li:nth-child(odd) {

        height: 150px;
        min-width: 100px;
        background-color: darkgray;
        border: 1px solid black;
        flex: 1;
    }
}